<<<<<<< HEAD
.course-list th[colspan='2'] {
  text-align: center;
}

.course-list th {
  text-align: left;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.course-list td {
  text-align: left;
}
=======
.course-list th[colspan='2'] {
    text-align: center;
  }
  
  .course-list th {
    text-align: left;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
  }
  
  .course-list td {
    text-align: left;
  }
>>>>>>> 7b9ce75c3a3fde5821f7e0fd6613740ff8615f20
